/* VALORI GENERICI */
/* /VALORI GENERICI */

/* HEADER */
/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  line-height: 60px;
  background-color: pink;
}

.header-nav ul{
  list-style: none;
}

.header-nav li{
  display: inline-block;
  padding-right: 25px;
}

.text-right{
  text-align: right;
}
/* /header top */

/* jumbotron */
.jumbotron{
  height: 600px;
  background-color: blue;
}

.jumbo_text{
  margin-top: 100px;
  color: white;
}

.jumbotron form{
  margin-top: 100px;
  background-color: pink;
  padding: 20px;
}

.jumbotron.do-jumbo{
  margin-bottom: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .jumbo_text h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 991px){
  .jumbotron{
    height: 1000px;
  }
}
/* /jumbotron */
/* /HEADER */

/* MAIN */
/* section customers */
.customers{
  background-color: lightgrey;
  height: 300px;
  text-align: center;
}

.customers p{
  font-size: 18px;
  padding: 40px 0 40px 0;
}

.customers-logo ul{
  list-style: none;
}

.customers-logo li{
  display: inline-block;
  vertical-align: middle;
  background-color: red;
  padding: 10px;
}

@media screen and (min-width: 1200px){
  .customers-logo li{
    width: calc(100% / 6 - 20px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .customers-logo li{
    height: 80px;
    width: calc(100% / 6 - 20px);
  }
  .customers{
      height: 320px;
  }
}

@media screen and (max-width: 992px){
  .customers-logo li{
    height: 100px;
    width: calc(50% - 20px);
  }
  .customers{
      height: 500px;
  }
}
/* section customers */


/* <!-- section deploy --> */
.deploy{
  max-width: 80%;
  margin: auto;
  background-color: yellow;
}

.deploy-text{
  text-align: center;
}

.deploy-text h2{
  font-size: 35px;
  font-weight: bold;
}

.deploy-text h3{
padding-bottom: 50px;
}

.deploy-left{
  border-left: 1px solid black;
  list-style: none;
  margin-left: 80px;
  background-color: red;
}

.deploy-left  li{
  font-size: 22px;
  padding-bottom: 15px;
  text-align: left;
}

.deploy-right{
  background-color: green;
}

.deploy-right-box{
  margin: 10px 0 50px 0;
}
/* <!-- section /deploy --> */

<!-- section developers -->
<!-- section /developers -->

<!-- section features -->
<!-- section /features -->

<!-- section world -->
<!-- section /world -->

<!-- section teams -->
<!-- section /teams -->

<!-- section get started -->
<!-- section /get started -->
/* /MAIN */

/* FOOTER */
/* /FOOTER */
