/* VALORI GENERICI */
h2{
  font-size: 35px;
  font-weight: bold;
  padding-top: 40px;
  text-align: center;
}

h3{
font-size: 22px;
padding-bottom: 50px;
text-align: center;
}

*{
  font-family: 'Roboto', sans-serif;
}

a{
  color: #0158FF;
  font-weight: bold;
}
/* /VALORI GENERICI */

/* HEADER */
/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  line-height: 60px;
  background-color: white;
}

.header_top img{
  width: 160px;
}

.header-nav ul{
  list-style: none;
}

.header-nav li{
  display: inline-block;
  padding-right: 25px;
  font-weight: bold;
  color: #031b4e;
  font-size: 15px;
}

.text-right{
  text-align: right;
}

.text-right a{
  color: #0158FF;
  border: 1px solid #0158FF;
  padding: 8px;
  border-radius: 10%;
}

.glyphicon-menu-hamburger{
  color: #0158FF;
  border: none;
}
/* /header top */

/* jumbotron */
.jumbotron{
  background-image: url(../img/jumbo-bg.svg);
}

.jumbo_text h1{
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

.jumbo_text h3{
text-align: left;
color: #F8F9F9;
}

.jumbotron form{
  margin-top: 100px;
  background-color: white;
  padding: 20px;
  border-radius: 1%;
}

.jumbotron.do-jumbo{
  margin-bottom: 0;
}

/* form */
.form-text p{
  font-weight: bold;
}

.form-title p{
  font-size: 28px;
}

.form-terms p{
  font-size: 12px;
}
/* /form */

@media screen and (min-width: 992px) and (max-width: 1200px){
  .jumbo_text h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 991px){
  .jumbotron form{
    margin-top: 0;
  }
}

/* /jumbotron
/* /HEADER */

/* MAIN */
/* section customers */
.customers{
  background-color: #F3F5F9;
  text-align: center;
}

.cust-title{
  font-size: 15px;
  color: #5b6987;
  font-weight: bold;
  padding-top: 40px;
}

.customers-logo img{
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  padding: 10px;
}

.customers a{
  font-size: 15px;
}

@media screen and (min-width: 1200px){
  .customers-logo img{
    width: calc(100% / 6 - 20px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .customers-logo img{
    height: 80px;
    width: calc(100% / 6 - 20px);
  }
}

@media screen and (max-width: 992px){
  .customers-logo img{
    height: 100px;
    width: calc(50% - 20px);
  }
}

.customers::after{
  content: "";
  display: block;
  clear: both
}
/* section customers */

/* <!-- section deploy --> */
.deploy{
  max-width: 80%;
  margin: auto;
  background-color: yellow;
}

.deploy-left{
  border-left: 1px solid black;
  list-style: none;
  margin-left: 80px;
  background-color: red;
}

.deploy-left  li{
  font-size: 22px;
  padding-bottom: 15px;
  text-align: left;
}

.deploy-right{
  background-color: green;
}

.deploy-right-box{
  margin: 10px 0 50px 0;
}
/* <!-- section /deploy --> */

/* <!-- section developers --> */
.developers{
  background-color: lightgreen;
}

.developers h4{
  text-align: center;
  padding: 40px;
}
/* <!-- section /developers --> */

/* <!-- section world --> */
.world{
  background-color: lightblue;
}

.world ul{
  list-style: none;
}
/* <!-- section /world --> */

/* <!-- section teams -->
<!-- section /teams --> */
/*
<!-- section get started --> */
.started{
  background-color: lightgreen;
}
<!-- section /get started -->
/* /MAIN */

/* FOOTER */
/* /FOOTER */
